*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #F1DBC9,#F2C3a7 );
}

main{
    background-color: white;
    width: 600px;
}

p{
    text-align: justify;
}
