@charset "utf-8";

/*em HTML: id -> em CSS: #
em HTML: class -> em CSS: .
*/

body{
    background-color: rgb(197, 250, 197);
    font-family: sans-serif;
    text-align: justify;
}

h1{
    color: rgb(3, 104, 3);
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
    text-decoration: underline;
}

h2{
    color: rgb(12, 216, 12);
}

p{
    text-indent: 20px;
}

a{
    color: rgb(0, 0, 0);
}

.basico{
    color: rgb(12, 216, 12);
}

.intermediario{
    color: rgb(207, 207, 2);
}

.avancado{
    color: rgb(255, 0, 0);
}

.destaque{
    background-color: rgba(197, 197, 96, 0.439);
}